Adafruit-Blinka==8.32.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-requests==2.0.5
adafruit-circuitpython-rfm9x==2.2.16
adafruit-circuitpython-typing==1.10.2
Adafruit-PlatformDetect==3.60.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.8.0
args==0.1.0
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.7
clint==0.5.1
colorzero==2.0
distro==1.8.0
gpiozero==2.0
idna==3.3
lgpio==0.2.2.0
pigpio==1.78
pip-autoremove==0.10.0
pyftdi==0.55.0
pyserial==3.5
python-apt==2.6.0
pyusb==1.2.1
requests==2.28.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
smbus2==0.4.2
spidev==3.5
ssh-import-id==5.10
sysv-ipc==1.1.0
toml==0.10.2
typing_extensions==4.9.0
urllib3==1.26.12